<!-- Mostrar la ruta encontrada si existe -->
<div class="container mt-4">
  <h2>Ruta encontrada: ({{ selectedCurrency }})</h2>
  <div class="response-container">
    <pre>{{ journey | json }}</pre>
  </div>

  <app-currency-selector
    [selectedCurrency]="selectedCurrency"
    (currencyChange)="onCurrencyChange($event)"
  ></app-currency-selector>

  <h3>Precio en {{ selectedCurrency }}:</h3>
  <div class="response-container">
    <p>{{ journey?.price | number : "1.2-2" }}</p>
  </div>


  <div *ngIf="journey">
    <h3>Vuelos en {{ selectedCurrency }}:</h3>
    <ul>
      <div class="response-container">
        <!-- El *ngFor se ejecutará solo si journey no es null -->
        <li *ngFor="let flight of journey.flights">
          {{ flight.origin }} - {{ flight.destination }}:
          {{ flight.price | number : "1.2-2" }}
        </li>
      </div>
    </ul>
  </div>
</div>
